$very-light-grayish-blue: hsl(240, 78%, 98%);
$light-grayish-blue: hsl(234, 14%, 74%);
$grayish-blue: hsl(233, 13%, 49%);
$dark-grayish-blue: hsl(232, 13%, 33%);
$gradient: hsl(236, 72%, 79%), hsl(237, 63%, 64%);
$purple: hsl(237, 63%, 64%);

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: $very-light-grayish-blue;
  background-image: url(./images/bg-top.svg), url(./images/bg-bottom.svg);
  background-repeat: no-repeat, no-repeat;
  background-size: 26.5%, 26.5%;
  background-position: top 12px right -1rem, bottom -57.7rem left -1.9rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
  a {
    color: hsl(228, 45%, 44%);
  }
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}

@mixin card-h2 {
  font-size: 1.23rem;
  font-weight: 700;
  color: $light-grayish-blue;
}

@mixin card-p {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 0 auto;
  font-size: 4.6rem;
  color: $dark-grayish-blue;
}

@mixin card-a {
  width: 90%;
  margin: 0 auto;
  margin-top: 1rem;
  border-radius: 5px;
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
  padding: 0.8rem;
  letter-spacing: 1.5px;
  word-spacing: 3px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background: linear-gradient($gradient);
  background-repeat: no-repeat;
  transition: 0.4s;
  &:hover {
    background: transparent;
    border-color: $light-grayish-blue;
    color: $purple;
    border-width: 1px;
  }
}

header {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  h1 {
    color: $grayish-blue;
  }
  nav {
    display: inline-flex;
    flex-direction: row;
    gap: 1.9rem;
    align-items: center;
    padding-top: 40px;
    .switchArea {
      border: none;
      position: relative;
      display: inline-flex;
      align-items: center;
      cursor: pointer;
      width: 3.8rem;
      height: 2.3rem;
      border-radius: 25px;
      background: linear-gradient($gradient);
      .switchBtn {
        cursor: pointer;
        position: relative;
        width: 1.7rem;
        height: 1.7rem;
        margin: 5%;
        border-radius: 50%;
        background-color: $very-light-grayish-blue;
      }
    }
    .anually {
      justify-content: flex-start;
      align-content: flex-start;
    }
    .monthly {
      justify-content: flex-end;
      align-content: flex-end;
    }
  }
}
main {
  text-align: center;
  .container {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    width: 72%;
    height: auto;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    overflow-y: hidden !important;
    padding: 60px;
  }
  .card-1 {
    background-color: #fff;
    gap: 1.3rem;
    h2 {
      @include card-h2();
    }
    p {
      @include card-p();
    }
    ul {
      margin-top: 10px;
      li {
        padding: 1.06rem;
        color: $light-grayish-blue;
      }
      hr {
        width: 90%;
        border-width: 0.5px;
        margin: 0 auto;
        border-color: transparent;
        border-color: $light-grayish-blue;
        border-style: solid;
        opacity: 0.5;
      }
    }
    a {
      @include card-a();
    }
  }
  .card-2 {
    background: linear-gradient($gradient);
    margin-top: -1.6rem;
    margin-bottom: -1.6rem;
    padding: 3rem 1rem;
    h2 {
      @include card-h2();
      color: #fff !important;
    }
    p {
      @include card-p();
      color: #fff !important;
    }
    ul {
      margin-top: 10px;
      li {
        padding: 1.06rem;
        color: #fff !important;
      }
      hr {
        width: 90%;
        border-width: 0.5px;
        margin: 0 auto;
        border-color: transparent;
        border-color: $light-grayish-blue;
        border-style: solid;
        opacity: 0.5;
      }
    }
    a {
      @include card-a();
      background: #fff !important;
      color: $purple;
      &:hover {
        background: transparent !important;
        border-color: #fff !important;
        color: #fff !important;
      }
    }
  }
  .card-3 {
    background-color: #fff;
    gap: 1.3rem;
    h2 {
      @include card-h2();
    }
    p {
      @include card-p();
    }
    ul {
      margin-top: 10px;
      li {
        padding: 1.06rem;
        color: $light-grayish-blue;
      }
      hr {
        width: 90%;
        border-width: 0.5px;
        margin: 0 auto;
        border-color: transparent;
        border-color: $light-grayish-blue;
        border-style: solid;
        opacity: 0.5;
      }
    }
    a {
      @include card-a();
    }
  }
}
.pricing {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  border-radius: 10px;
  padding: 2.1rem 0.8rem;
}
.dollar-sign {
  font-size: 2.5rem;
}

@media screen and (max-width: 992px) {
  .container {
    width: 90% !important;
    grid-template-columns: 1fr !important;
    margin-top: 5.8rem !important;
    gap: 5rem !important;
  }
}
